<div class="easyui-panel">
  <div style="padding:10px 0 10px 60px">
    <%= form_for(@room, :html => {:id => "submitFrm", :method => "post", :multipart => true}) do |f| %>
    <div id="error_explanation" style="color: red">
      <span></span>
    </div>
    <table>
      <tr>
        <td>应用：</td>
        <td><%= select(:room, :appid, @apps.collect { |app| [app.name, app.id] }) %></td>
      </tr>
      <tr>
        <td>房间名称：</td>
        <td><%= text_field(:room, :name) %></td>
      </tr>
      <tr>
        <td>房间背景：</td>
        <td><%= file_field(:room, :backgroud) %></td>
      </tr>
      <tr>
        <td>进入条件：</td>
        <td><%= text_field(:room, :total_lest) %></td>
      </tr>
      <tr>
        <td>单注条件：</td>
        <td><%= text_field(:room, :single_lest) %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>